* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outfit: "Outfit", sans-serif;
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --verydarkbluebody: hsl(217, 54%, 11%);
  --verydarkbluecard: hsl(216, 50%, 16%);
  --verydarkblueline: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}

body {
  background: var(--verydarkbluebody);
  width: 375px;
  min-width: 375px;
  height: 640px;
  margin: 0 auto;
  font-family: var(--outfit);
  margin-top: 20px;
}

.main-container {
  width: 95%;
  /* height: 85vh; */
  background: var(--verydarkbluecard);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.main-container .nft-figure {
  padding: 24px;
}


.overlay {
  position: absolute;
  background-color: rgba(0, 255, 247, 0.6);
  width: 30rem;
  height: 30rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.15s ease-in-out;
}

/* define o tamanho do ícone do olho */
.overlay img {
  height: 4rem;
  width: 4rem;
}

.overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.main-container .nft-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../images/image-equilibrium.jpg");
  width: 100%;
  height: 300px;
  border-radius: 8px;
  cursor: pointer;
}
.main-container .nft-image:hover {
  background: var(--cyan);
  background-image: url("../images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
  opacity: 0.5;
}
.main-container .title {
  font-size: 2rem;
  color: var(--white);
  font-weight: 600;
  padding: 0 0 16px 24px;
  letter-spacing: 1px;
  cursor: pointer;
}
.main-container .title:hover {
  color: var(--cyan);
}

.main-container .text {
  font-size: 1.6rem;
  padding: 0 24px 16px 24px;
  color: var(--softblue);
  line-height: 24px;
}

.info-container {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
}
.info-container .info-container-left,
.info-container .info-container-right {
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
.info-container .info-container-left {
  justify-content: flex-start;
}
.info-container .info-container-right {
  justify-content: flex-end;
}
.info-container .info-container-left .info-container-left--price {
  padding-left: 8px;
  color: var(--cyan);
}

.info-container .info-container-right .info-container-right--days {
  padding-left: 8px;
  color: var(--softblue);
}
.author-container {
  display: flex;
  align-items: center;
  padding: 16px 0px;
  margin: 16px 24px 0;
  border-top: 1px solid var(--verydarkblueline);
}

.author-container .author-picture {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  border-radius: 50%;
  border: 2px solid var(--white);
}
.author-container .author-name {
  font-size: 1.6rem;
  justify-content: flex-start;
  color: var(--softblue);
  padding-left: 16px;
}
.author-container .author-name span {
  color: var(--white);
  cursor: pointer;
}
.author-container .author-name span:hover {
  color: var(--cyan);
}

/* .author-container .author-picture {
} */

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--softblue);
}
.attribution a {
  color: var(--white);
}
